@model RentBikes.Core.Domain.RentalType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rentalTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
